<h1 class ='header'> Articles title: <%= @article.title %> <br/>Author: <%= link_to @user.name, @user %></h1>

<p class = 'body'><%= @article.body %></p>


<% if current_user.present? && (current_user.id == @article.user.id) %>
  <ul>
  <li><%= link_to 'Edit', edit_article_path(@article) %></li>
  <td><%= button_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </ul>
<% end %>

<div class = 'comments'>
<h2 class = 'title'>Comments</h2>
<%= render @article.comments %>


<% if current_user.present? && current_user.following?(@user)%>
  <h2 class = 'CommenterBox'>Add a comment:</h2>
  <%= render 'comments/form' %>
  <%= link_to 'Log out', destroy_user_session_path, 'data-turbo-method': :delete%>
<% else %>
  <p> You can't comment remind that you need to be logged and follow the author to comment </p>
<% end %>
</div>  
<br/>
<%= render 'session'%>
